*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content{
    color: #D2D5DA;
    padding: 40px;
}



/* Background image */

.bg-container{
    background-image: url('../resources/Background_image@2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container{

    max-width: 1280px;
    margin: 0 auto;

}

/* Top Contents  */
.top-contents{

    text-align: center;

}

.top-heading{

    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 32px;
    

}



/* Cards Section */
.cards-section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 72px;
}

.cards{

    background-color: #212936;
    border: 1px solid steelblue;
    border-radius: 25px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    padding: 32px;

}

.icons{

    height: 50px;
    width: 50px;
    padding: 15px;
    background-color: #FBE5E6;
    border: none;
    border-radius: 50%;
    color: lightgreen;
    margin-bottom: 10px;

}


.card-heading{

    color: #DEE9FC;
    font-size:  1.25rem;
    margin-bottom: 20px;

}
.card-content{

    color: #E5E7EB;
    margin-bottom: 15px;

}